<% provide(:title, "Book") %>
<div class="row">
  <h1>List all category</h1>
  <div class="search-book">
  </div>  
  <ul class="categories_list">
    <% if current_user.is_admin? %>
      <div class="admin-new-category">
        <%= link_to "Create new book", new_admin_book_path %>
      </div>
    <% end %>
    <div class="list-books"> 
      <%= render @books %>
      <%= will_paginate %>
    </div>
  </ul>
</div> 