@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;

 margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {

    color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
body > .container {
  border: 1px solid #e1e1e1;
}
footer {
  margin-top: 280px;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
input[type='checkbox'] {
  width: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* category */

.categories_list {
  list-style-type: none;
  li {  
    border: 1px solid $gray-medium-light;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .category-words {
    .category-word {
      margin-left: 5px;
      float: left;
    }   
  }

  .category-info {
    span {
      font-size: 20px;
      font-weight: bold;
    }
    .box-image {
    }
  }

  .link-to-lesson {
    width: 15%;
    float: right;
  }
}

.manage-category {
  margin-top: 15px;
  a {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.admin-new-category {
  margin-bottom: 20px;
}

.category-form {
  display: none;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px #EAEAEA solid;
  padding: 10px;
  span {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

/* Users show */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  img {
    height: 70px;
    width:  70px;
  }
}

/* show books */

.book {
  text-align: left;
  width: 500px;
  min-height: 100px;
  img {
    margin-right: 10px;
    float: left;
  }
}

.book-info {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid $gray-lighter;
  .book-image {
    width: 35%;
    float: left;
    img {
      width: 80%;
    }
    .form-book-state {
      width: 80%;
      padding-top: 10px;
    }
    .book-star-rating {
      border: 1px solid $gray-lighter;
      padding-left: 30px;
      padding-bottom: 10px;
      width: 80%;
      padding-top: 5px;
      margin-top: 10px;
      span {
        font-size: 20px;
      }
      img {
        width: 12%;
        padding-bottom: 5px;
      }
    }
  }
  .book-detail {
    width: 50%;
    float: right;
    table {
      font-size: 20px;
      tr {
        border-bottom: 1px solid $gray-lighter;
        padding-bottom: 10px;
      }
      td {
        padding-right: 35px;
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }
  }
}

.garalley_book {
  margin-left: 20%;
  table {
    width: 80%;
    tr {
      margin-bottom: 20px;
    }
    td {
      width: 20%;
    }
  }
}

.book-review {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 40px;
  .book-your-review {
    border: 2px solid $gray-medium-light;
    padding: 10px;
    .title-your-review {
      padding-bottom: 10px; 
      span {
        font-size: 30px;
      }
      a {
        float: right;
      }
    }
    table {
      padding-left: 20px;
      font-size: 15px;
      width: 100%;
      td {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 20px;
        span {
          font-weight: bold;
        }
        p {
          border: 1px solid $gray-medium-light;
          width: 100%;
          padding: 5px;
          padding-left: 10px;
        }
      }
    }
  }
  .show-form-review {
    padding-bottom: 20px;
  }
  .title-review {
    border: 1px solid $gray-medium-light;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 30px;
    span {
      font-size: 20px;
    }
  }
  .filter-review {
    border-bottom: 1px solid $gray-medium-light;
    padding-bottom: 10px;
  }
  .reviews {
    width: 100%;
    border: 1px solid $gray-medium-light;
    padding: 10px;
    list-style-type: none;
    margin-right: 30%;
    li {
      margin-bottom: 25px;
      margin-top: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
      width: 100%;
      .gravatar-user {
        width: 10%;
        float: left;
        img {
          width: 80%;
        }
      }
      .review-region {
        width: 89%;
        float: right;
        .review-info {
          strong {
            font-size: 20px;
          }
          span {
            margin-left: 20px;
          }
        }
        .review-content {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .review-comment {
          a {
            margin-right: 20px;
          }
        }
        .comment-region {

        }
      }
    }
  }
}

.comments{
  list-style-type: none;
  li {
    width: 100%;
    padding: 5px;
    .comment-avatar {
      width: 10%;
      float: left;
      img {
        width: 80%;
      }
    }
    .comment-content {
      width: 89%;
      float: right;
      span {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}

.show-review {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  .show-book {
    width: 40%;
    float: left;
    img {
      width: 50%;
    }
  }
  .info-review {
    width: 40%;
    float: left;
    margin-bottom: 20px;
    .name-book {
      font-size: 20px;
    }
    .show-review-region {
      border: 1px solid $gray-medium-light;
      padding-left: 20px;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 20px;
      .info-user {
        .info-user-avatar {
          img {
            width: 20%;
          }
        }
      }
    }
  }
}



.modal-dialog {
  width: 70%;
  .modal-content {
    padding-bottom: 30px;
  }  
}

.clear {
  clear: both;
}

/* Request book */

.edit_request input[type="radio"] {
  width: 15px;
}
.col-state {
  width: 200px;
}
.col-state form {
  margin-left: 10px;
}

.list-books {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  .book {
    border: 1px solid $gray-medium-light;
    padding: 20px;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    .list-book-intro {
      width: 20%;
      float: left;
      .list-book-image {
        img {
          width: 100%;
        }
      }
      .list-book-state {
        margin-top: 10px;
      }
    }
    .list-book-detail {
      float: right;
      padding-right: 20px;
      font-size: 30px;
    }
  }
}