<footer class='footer'>
  <small>
    The <%= link_to 'Book Review System', root_path %>
    by <%= link_to 'Team 2 of Intermship group', '#' %>
  </small>
  <nav>
    <ul>
      <li><a href='#'>News</a></li>
    </ul>
  </nav>
</footer>